#!/usr/bin/make -f

APPLIB  := debian/autoscroll-x11/usr/lib/autoscroll-x11
APPBIN  := debian/autoscroll-x11/usr/bin
APPDATA := debian/autoscroll-x11/usr/share
ETCXDG  := debian/autoscroll-x11/etc/xdg/autostart

%:
	dh $@

override_dh_auto_build:

override_dh_auto_install:
	install -d $(APPLIB)
	cp -r autoscroll_x11 $(APPLIB)/

	install -d $(APPBIN)
	install -m 0755 debian/bin/autoscroll-x11 $(APPBIN)/autoscroll-x11

	install -d $(APPDATA)/applications
	install -m 0644 data/applications/autoscroll-x11.desktop \
		$(APPDATA)/applications/

	install -d $(ETCXDG)
	install -m 0644 data/autostart/autoscroll-x11.desktop \
		$(ETCXDG)/

	install -d $(APPDATA)/icons/hicolor/scalable/apps
	install -m 0644 data/icons/hicolor/scalable/apps/autoscroll-x11.svg \
		$(APPDATA)/icons/hicolor/scalable/apps/

	install -d $(APPDATA)/icons/hicolor/symbolic/apps
	install -m 0644 data/icons/hicolor/symbolic/apps/autoscroll-x11-symbolic.svg \
		$(APPDATA)/icons/hicolor/symbolic/apps/

override_dh_auto_test:
	python3 -m pytest tests/ -q --tb=short
